body {
    background-color: white;
}

@keyframes fadeIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

#clock {
    width: min(75vh, 75vw);
    height: min(75vh, 75vw);

    background-color: rgb(15, 15, 15);
    box-shadow: 0px 0px 5em -2em black;

    animation: fadeIn 1.5s cubic-bezier(.57,0,0,1) 0s 1 normal forwards;
}

.circle {
    border-radius: 50%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
